<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends "base.html" %}
    <title>{% block title %}Point of Sale{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <div class="container">
      <main>
        <div
          id="myCarousel"
          class="carousel slide mb-6"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{{url_for('static', filename='/images/slide1.jpg')}}"
                class="d-block w-100"
                alt="Point of Sale System 1"
              />
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Efficient Point of Sale Solutions</h1>
                  <p class="opacity-75">
                    Discover our innovative POS system for your business.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary"  href="{{ url_for('login') }}">Get Started</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="{{url_for('static', filename='/images/slide2.jpg')}}"
                class="d-block w-100"
                alt="Point of Sale System 2"
              />
              <div class="container">
                <div class="carousel-caption">
                  <h1>Boost Your Business with POS</h1>
                  <p>Streamline your operations and increase sales.</p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#">Learn more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="{{url_for('static', filename='/images/slide3.jpg')}}"
                class="d-block w-100"
                alt="Point of Sale System 3"
              />
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Experience Modern Business Management</h1>
                  <p>Take control of your business with our POS solution.</p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#"
                      >Explore Features</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- Marketing messaging and featurettes
    ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img
              src="{{url_for('static', filename='/images/c1.jpg')}}"
              alt="Effortless Transactions"
                style="width: 150px; height: 145px; border-radius: 75px;"
              />
              <h2 class="fw-normal">Effortless Transactions</h2>
              <p>Simplify your business operations with our POS system.</p>
              <p>
                <a class="btn btn-secondary" href="#">Learn More &raquo;</a>
              </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img
              src="{{url_for('static', filename='/images/c3.webp')}}"
              alt="Effortless Transactions"
                style="width: 150px; height: 145px; border-radius: 75px;"
              />
              <h2 class="fw-normal">Business Insights</h2>
              <p>Get valuable data and insights for informed decisions.</p>
              <p>
                <a class="btn btn-secondary" href="#"
                  >Discover Features &raquo;</a
                >
              </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img
              src="{{url_for('static', filename='/images/c2.jpg')}}"
              alt="Effortless Transactions"
                style="width: 150px; height: 145px; border-radius: 75px;"
              />
              <h2 class="fw-normal">Customer Satisfaction</h2>
              <p>Keep your customers happy with efficient service.</p>
              <p>
                <a class="btn btn-secondary" href="#">Get Started &raquo;</a>
              </p>
            </div>
            <!-- /.col-lg-4 -->
          </div>
          <!-- /.row -->

          <!-- START THE FEATURETTES -->

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">
                Transform Your Business.
                <span class="text-body-secondary"
                  >Efficiency meets success.</span
                >
              </h2>
              <p class="lead">
                Elevate your business operations with our modern POS system.
              </p>
            </div>
            <div class="col-md-5">
              <img
                src="{{url_for('static', filename='/images/desc1.jpg')}}"
                class="d-block w-100"
                alt="POS Feature 1"
              />
            </div>
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">
                Data-Driven Decisions.
                <span class="text-body-secondary"
                  >Power at your fingertips.</span
                >
              </h2>
              <p class="lead">
                Leverage data analytics to drive your business forward.
              </p>
            </div>
            <div class="col-md-5 order-md-1">
              <img
                src="{{url_for('static', filename='/images/desc2.1.jpg')}}"
                class="d-block w-100"
                alt="POS Feature 2"
              />
            </div>
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">
                Happy Customers, Higher Sales.
                <span class="text-body-secondary">The key to success.</span>
              </h2>
              <p class="lead">Satisfied customers lead to business growth.</p>
            </div>
            <div class="col-md-5">
              <img
              style="height: 250px;"
                src="{{url_for('static', filename='/images/happy-cus.jpg')}}"
                class="d-block w-100"
                alt="POS Feature 3"
              />
            </div>
          </div>

          <hr class="featurette-divider" />

          <!-- /END THE FEATURETTES -->
        </div>
      </main>
    </div>
    {% endblock %}
  </body>
</html>
