<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends "base.html" %}
    <title>{% block title %}Sales{% endblock %}</title>
    <style>
      /* Add custom styles for the sticky button */
      .btn-sticky {
        position: fixed;
        bottom: 20px; /* Adjust this value to control the distance from the bottom */
        right: 20px; /* Adjust this value to control the distance from the right */
        z-index: 999; /* Ensure it appears above other content */
      }
    </style>
  </head>
  <body>
    {% block content %}

    <h3 class="text-left">Sales Table</h3>

    <!-- table -->
    <table class="table table-striped" style="width: 100%" id="my_table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product ID</th>
          <th scope="col">Quantity</th>
          <th scope="col">Created-At</th>
          <th scope="col">User ID</th>
        </tr>
      </thead>
      <tbody id="products_table">
        {% for sale in sales %}
        <tr>
          <td>{{ sale[0] }}</td>
          <td>{{ sale[1] }}</td>
          <td>{{ sale[2] }}</td>
          <td>{{ sale[3] }}</td>
          <td>{{ sale[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('add_sale') }}" class="btn btn-primary" style="background-color: green; border: green;"
    >Add New Sale</a
  >    {% endblock %}
  </body>
</html>
