<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends "base.html" %}
    <title>{% block title %}Sales{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <h3 class="text-left">Sales Table</h3>

    <!-- table -->
    <table class="table table-striped" style="width: 100%" id="my_table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product ID</th>
          <th scope="col">Quantity</th>
          <th scope="col">Created-At</th>
        </tr>
      </thead>
      <tbody id="products_table">
        {% for sale in sales %}
        <tr>
          <td>{{ sale[0] }}</td>
          <td>{{ sale[1] }}</td>
          <td>{{ sale[2] }}</td>
          <td>{{ sale[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- add products from -->
    <div class="container mt-4">
      <h1>Add Sale</h1>
      <form id="sales_form" method="post" action="/add-sale">
        <!-- Product ID -->
        <div class="mb-3">
          {% for product in products %}
          <label for="product_id" class="form-label">Product ID</label>

          <select
            name="product_id"
            type="number"
            id="product_id"
            class="form-control"
            required
          >
            <option value="{{ product[0] }}">{{ product[1] }}</option>
          </select>
        </div>

        <!-- Quantity -->
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          {% if check_stock_quantity(product[0], quantity) %}
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
            required
          />
          {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Add Sale</button>
      </form>
    </div>

    {% endblock %}
  </body>
</html>
