<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends "base.html" %}
    <title>{% block title %}Remaining-Stock{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <h3 class="text-left">Remaining Stock Table</h3>
    <!-- table -->
    <table id="my_table" class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody id="products_table">
        {% for stock in stocks %}
        <tr>
          <td>{{ stock["product_name"] }}</td>
          <td>{{ stock["rem_stock"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endblock %}
  </body>
</html>
